body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.Mynavbar-bottom{
  margin-bottom: 0px;
}

.Mynavbar{
	min-height: 35px;
}

.Mynavbar-text{
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mycontainer-nav{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 0px;
}	